<doctype html>
<html>
    <head>
        <title>DaemonDash UMD</title>
        <meta content=charset charset='utf-8' />
    </head>
    <body>
        <div id="header">
            <h1 id="title">DaemonDash Web App</h1>
        </div>
        <div id=list-people-title>
            List of People:<br>
        </div>
        <ol>
            <div id="list-people">
                <!-- obtainPeople.js will input new lines here --> 
            </div>
        </ol>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/obtainPeople.js"></script>
</html>
